<?xml version="1.0"?>
<config>
    <modules>
        <OpsWay_OrderedProducts>
            <version>1.0.0</version>
        </OpsWay_OrderedProducts>
    </modules>
    <global>
      <blocks>
        <opsway_orderedproducts>
          <class>OpsWay_OrderedProducts_Block</class>
        </opsway_orderedproducts>
      </blocks>
      <helpers>
        <opsway_orderedproducts>
          <class>OpsWay_OrderedProducts_Helper</class>
        </opsway_orderedproducts>
      </helpers>
      <models>
         <opsway_orderedproducts>
            <class>OpsWay_OrderedProducts_Model</class>
         </opsway_orderedproducts>
      </models>
      <events>
        <sales_order_place_after>
          <observers>
            <opsway_orderedproducts_blockcache_flush>
              <type>singleton</type>
              <class>opsway_orderedproducts/observer</class>
              <method>BlockCacheFlush</method>
            </opsway_orderedproducts_blockcache_flush>
          </observers>
        </sales_order_place_after>
      </events>
    </global>
    <frontend>
      <layout>
        <updates>
          <test>
            <file>orderedproducts.xml</file>
          </test>
        </updates>
      </layout>
    </frontend>
</config>
