<?xml version="1.0"?>
<config>
    <modules>
        <OpsWay_Subscription>
            <version>1.0.3</version>
        </OpsWay_Subscription>
    </modules>
    <crontab>
      <jobs>
        <custom_cron_task>
          <schedule>
            <cron_expr>*/1 * * * *</cron_expr>
          </schedule>
          <run>
            <model>opsway_subscription_cron/cron::crontask</model>
          </run>
        </custom_cron_task>
      </jobs>
    </crontab>
    <frontend>
        <routers>
            <opsway_subscription>
                <use>standard</use>
                <args>
                    <frontName>subscription</frontName>
                    <module>OpsWay_Subscription</module>
                </args>
            </opsway_subscription>
        </routers>
        <layout>
          <updates>
            <subscription>
              <file>subscription.xml</file>
            </subscription>
          </updates>
        </layout>
    </frontend>
    <global>
      <models>
         <opsway_subscription>
           <class>OpsWay_Subscription_Model</class>
           <resourceModel>opsway_subscription_resource</resourceModel>
         </opsway_subscription>
         <opsway_subscription_resource>
           <class>OpsWay_Subscription_Model_Resource</class>
           <entities>
             <opswaymessage>
               <table>opsway_subscription_opswaymessage</table>
             </opswaymessage>
           </entities>
         </opsway_subscription_resource>
         <opsway_subscription_cron>
           <class>OpsWay_Subscription_Model</class>
         </opsway_subscription_cron>
      </models>
      <resources>
        <opsway_subscription_setup>
          <setup>
            <module>OpsWay_Subscription</module>
          </setup>
        </opsway_subscription_setup>
      </resources>
    </global>
</config>
